.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
}


.btn_rasa{
    margin: 2px !important;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    font-size:16px !important;
    max-width: 100%;
    white-space: inherit !important;
    text-align: left !important;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

#contenedor_chat div.panel-body
{
    overflow-y: scroll;
    height: 350px;
    width: 100%
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    background-color: #FCFCFC;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5);
    background-color: #DADADA;
}

.float_barra,.float_chatbot{
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
}
@media(max-width:767px){
    .float_barra,.float_chatbot{
        position: fixed;
        width: 100%;
        bottom: 0px;
        right: 0px;
    }   
}
.him{
    background: #ececec;
    float: left;
    padding: 10px;
    border-radius: 14px;
    font-size: 16px;
}

.me{
    background: #02907d;
    color: #FFF;
    float: right;
    padding: 10px;
    border-radius: 14px;
}

.sombra{
    box-shadow: 2px 2px 8px #666;
    width: 100%;
}

.sombra_leve{
    box-shadow: 2px 2px 4px #666;
}
.btn_rasa.btn{
    text-transform: none !important;
}
/* --------------------------- */
/*      SCROLL STOP CHAT       */
/* --------------------------- */
.noscroll { 
  overflow: hidden;
}
@supports (-webkit-appearance:none) {
    .os-android & {
      min-height: calc(100vh - 56px);
    }
  }