.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
}


.btn_rasa{
    margin: 3px;
    padding: 4px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body-bot
{
    overflow-y: scroll;
    height: 350px;
    padding: 15px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    background-color: #FCFCFC;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5);
    background-color: #DADADA;
}

.float_barra{
	position: fixed;
	bottom: 0px;
	right: none;
}

.float_chatbot{
	position: fixed;
	bottom: 0px;
	right: none;
}

.him{
    background: #DADADA;
    float: left;
    padding: 10px;
    border-radius: 14px;
}

.me{
    background: #00AE97;
    color: #FFF;
    float: right;
    padding: 10px;
    border-radius: 14px;
}

.sombra{
    box-shadow: 2px 2px 8px #666;
}

.sombra_leve{
    box-shadow: 2px 2px 4px #666;
}

.row {
    margin-right: 0px;
}